/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Project styles start here*/
body {
  box-sizing: border-box;
  font-family: Helvetic, sans-serif;
  max-width: 800px;
  margin: auto;
  padding-top: 40px;
  background-color: #40e0d0;
}

h1 {
  font-size: 200%;
  padding: 0 0 10px 0;
  line-height: 1;
  font-weight: 700;
}

p, li {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  position: relative;
  display: block;
}

#response-container {
  position: relative;
  width: 100%;
  margin: auto;
  border: 1px solid silver;
  background-color: silver;
  box-shadow: 10px 10px 38px 0px rgba(0,0,0,0.75);
  min-height: 80px;
  display: block;
  margin-top: 20px;
  padding: 10px;
}

h2 {
  font-size: 150%;
  position: relative;
  display: block;
  margin-bottom: 10px;
  font-weight: 700;
}

#response { 
  width: auto;
  min-height: 10px;
  height: auto;
  margin: auto;
  padding: 40px 0 40px 0;
  text-align: center;
  position: relative;
  display: block;
  border: 1px solid silver;
  background-color: white;
}


ol {
  margin-top: 20px;
  margin-bottom: 20px;
}
  
strong {
  font-weight: 700;
  
}
  
form {
  margin-bottom: 20px;
  max-width: 600px;
  width: auto;
  position: relative;
  text-align: center;
  display: block;
  margin: auto;
  padding: 20px;
}

input {
  width: auto;
  border: 1px solid black;
}

button {
  border-radius: 0px;
  border: 1px solid black;
}
